<div class="card">
  <p>User:</p>
  <input type="text" id="username">
  <p>Password: </p>
  <input type="text" id="password">
  <p>Url to image:</p>
  <input type="text" id="imageUrl" value="{{article.urlToImage}}">
  <p>Title: </p>
  <input type="text" id="title" value="{{article.title}}">
  <p>Author: </p>
  <input type="text" id="author" value="{{article.author}}">
  <p>Article URL: </p>
  <input type="text" id="url" value="{{article.url}}">
  <p>Published at: </p>
  <input type ="text" id="publishedAt" value="{{article.publishedAt}}">
  <p>Content: </p>
  <input type ="text" id="content" value="{{article.content}}">
  <button (click) ="editArticle(article)">Edit</button>
</div>